<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biodata Siswa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

     <body class="biodata-page"> 
    <nav class="navbar">
    <h2 class="logo">Laporan PKL</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pendahuluan">Pendahuluan</a></li>
      <li><a href="/profil">Profil IDUKA</a></li>
      <li><a href="/biodata">Biodata Siswa</a></li>
      <li><a href="/kompetensi">Kompetensi</a></li>
      <li><a href="/kesan">Kesan & Pesan</a></li>
      <li><a href="/dokumentasi">Dokumentasi</a></li>
    </ul>
  </nav>

  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <h1>Biodata Siswa</h1>
    </div>
  </section>

  <section class="biodata" id="biodatasiswa">

    <div class="biodata-container">
      <div class="biodata-img">
        <img src="static/b.jpeg" alt="princessss">
      </div>

      <div class="biodata-text">
        <h2>Annisa Ahlaqul Karima 🌸</h2>
        <p>
          <P>HAII  HAIII 👋🏻</P>
          Nama saya Annisa Ahlaqul Karima, bisa dipanggil Nisa atau Nisul, tapi lebih suka di panggil Nisul sii hehehee. 
          Saya lahir di Malang pada tanggal 5 Agustus 2008, saya berusia 17 tahun. 
          Saya tinggal di Jalan Teluk Pacitan no 2 Arjosari Malang. Saya seorang siswi di <strong>SMKN 8 Malang</strong> kelas XII RPL C, di jurusan <strong>Rekayasa Perangkat Lunak</strong>. 
          Hobi saya adalah memasak, menonton drakor, make up dan menggambar.
          Saat ini saya sedang melaksanakan <strong>Praktik Kerja Lapangan (PKL)</strong> di BBPPMPV BOE, di bidang DATA INFORMATIKA. 
        </p>
      </div>
    </div>
  </section>
   <div class="footer-bar">
    <p>BBPPMPV BOE Malang | Jl. Teluk Mandar, Arjosari, Kec. Blimbing, Kota Malang, Jawa Timur 65102 | Data Informatika</p>
  </div>
</body>
</html>
