<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laporan PKL</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <nav class="navbar">
    <h2 class="logo">Laporan PKL</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pendahuluan">Pendahuluan</a></li>
      <li><a href="/profil">Profil IDUKA</a></li>
      <li><a href="/biodata">Biodata Siswa</a></li>
      <li><a href="/kompetensi">Kompetensi</a></li>
      <li><a href="/kesan">Kesan & Pesan</a></li>
      <li><a href="/dokumentasi">Dokumentasi</a></li>
    </ul>
  </nav>

  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <h2>Laporan praktik kerja lapang</h2>
      <h1>BBPPMPV BOE MALANG</h1>
      <p>Semester Ganjil Tahun Ajaran 2025/2026</p>
    </div>
  </section>

</body>
</html>
