<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil IDUKA & Visi Misi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="profil-page"> 

  <!-- Navbar -->
  <nav class="navbar">
    <h2 class="logo">Laporan PKL</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pendahuluan">Pendahuluan</a></li>
      <li><a href="/profil" class="active">Profil IDUKA</a></li>
      <li><a href="/biodata">Biodata Siswa</a></li>
      <li><a href="/kompetensi">Kompetensi</a></li>
      <li><a href="/kesan">Kesan & Pesan</a></li>
      <li><a href="/dokumentasi">Dokumentasi</a></li>
    </ul>
  </nav>

  <!-- Hero Section -->
  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <h1>Profil IDUKA</h1>
      <p>Informasi tentang BBPPMPV BOE MALANG</p>
    </div>
  </section>

  <!-- Profil BOE -->
  <section class="profil" id="profilBOE">
    <div class="profilBOE-container">
      <div class="profilBOE-img">
        <img src="static/1.jpeg" alt="profil">
      </div>
      <div class="profilBOE-text">
        <h2>BBPPMPV BOE MALANG 💻✨</h2>
        <p>
          Balai Besar Pengembangan Penjaminan Mutu Pendidikan Vokasi Bidang Otomotif dan Elektronika (BBPPMPV BOE) Malang berawal dari program DIII Guru Kejuruan (D3GK) yang dimulai pada Agustus 1985 di STM Negeri Malang. Tahun 1986 lembaga ini pindah ke kampus baru di Arjosari dan kemudian menjalin kerja sama Indonesia–Swiss dalam pengembangan pendidikan kejuruan. Sejak itu, berbagai fase kerja sama berlangsung hingga 1997 yang menghasilkan pengembangan program pendidikan, pelatihan guru, dan pembentukan unit produksi serta sekolah binaan. Tahun 2000 lembaga ini ditetapkan sebagai Center of Indonesian-German-Institute (IGI) dan pada 2003 meraih sertifikasi ISO 9001:2000 serta mendirikan Malang Innovation Technopark. Tahun 2008 nama PPPGT berubah menjadi PPPPTK BOE Malang sesuai Permendiknas No. 8 Tahun 2007.
          <br><br>
          Dalam perkembangannya, lembaga ini terus meningkatkan kualitas pendidikan vokasi melalui berbagai program seperti Mapping Kompetensi, Diklat Guru Kejuruan, dan kerjasama industri. Tahun 2017 PPPPTK BOE Malang meraih predikat Wilayah Bebas Korupsi (WBK), kemudian pada 2020 berubah menjadi BBPPMPV BOE sesuai Permendikbud No. 26 Tahun 2020. Lembaga ini juga meraih penghargaan WBBM (Wilayah Birokrasi Bersih dan Melayani) serta berbagai prestasi nasional dalam pengembangan SDM vokasi, pelatihan berbasis industri, digital learning, dan inovasi pendidikan. Hingga tahun 2024, BBPPMPV BOE Malang terus berkomitmen menjadi pusat unggulan dalam pengembangan mutu pendidikan vokasi di bidang otomotif dan elektronika di Indonesia.
        </p>
      </div>
    </div>
  </section>

  <!-- Pemimpin -->
  <section class="profil" id="profilBOE">
    <div class="profilBOE-container">
      <div class="profilBOE-img">
        <img src="static/WhatsApp Image 2025-10-13 at 22.04.53.jpeg" alt="pemimpin">
      </div>
      <div class="profilBOE-text">
        <h2>Pemimpin BBPPMPV BOE MALANG 💻✨</h2>
        <p>
          Balai Besar Penjamin Pengembangan Mutu Pendidikan Vokasi Bidang Elektronika dan Otomotif (BBPPMPV BOE) Malang, yang berada di bawah naungan Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi (Kemendikbudristek), saat ini dipimpin oleh <strong>Dr. I Gusti Made Ardana, S.Pd., M.T.</strong>
        </p>
      </div>
    </div>
  </section>

  <!-- VISI MISI -->
  <section class="visi-misi-section">
    <h1 class="judul-visi-misi">Visi, Misi, dan Tujuan</h1>

    <div class="visi-misi-container">

      <!-- Bagian Visi -->
      <div class="visi">
        <h2>Visi</h2>
        <p>
          Mewujudkan pendidikan berkualitas tinggi yang merata dan  berkelanjutan didukung oleh infrastruktur dan teknologi.
        </p>
      </div>

      <!-- Bagian Misi -->
      <div class="misi">
        <h2>Misi</h2>
        <ul>
          Membangun rakyat Indonesia yang  menjadi pembelajar seumur hidup yang unggul, 
          terus berkembang sejahtera dan berakhlak mulia dengan menumbuhkan nilai-nilai budaya Indonesia dan Pancasila.
        </ul>
      </div>
    </div>

    <!-- Tujuan di bawah -->
    <div class="tujuan">
      <h2>Tujuan</h2>
      <ul>
        <li>penjaminan mutu peserta didik, sarana prasarana, dan tata kelola pendidikan vokasii</li>
        <li>Pelaksanaan penyelarasan pendidikan vokasi sesuai dengan kebutuhan dunia usaha dan dunia industri</li>
        <li>Pelaksanaan fasilitasi dan peningkatan kompetensi pendidik dan tenaga kependidikan pada pendidikan vokasi.</li>
        <li>Pengelolaan data dan informasi</li>
        <li>Pelaksanaan kerja sama di bidang pengembangan penjaminan mutu pendidikan vokasi</li>
        <li>Pelaksanaan evaluasi pengembangan penjaminan mutu pendidikan vokasi</li>
        <li>Pelaksanaan urusan administrasi</li>
      </ul>
    </div>
  </section>

  <!-- Footer -->
  <div class="footer-bar">
    <p>BBPPMPV BOE Malang | Jl. Teluk Mandar, Arjosari, Kec. Blimbing, Kota Malang, Jawa Timur 65102 | Data Informatika</p>
  </div>

</body>
</html>
